<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Js Playground </title>
</head>
<style>
    .box {
        width: 250px;
        height: 250px;
        border: 1px solid #333;
    }

    .red {
        background-color: crimson;
    }

    .bordure {
        border: 10px solid #333;
    }
</style>

<body>
    <div id="mon-app">
        <h1>Vue Js Cours</h1>
        <h2>conditions =>
            <a href="https://vuejs.org/guide/essentials/conditional.html#conditional-rendering">doc Vue.js</a>
        </h2>
        <button v-on:click="toggleBox = !toggleBox">Change toggle</button>
        
        <!-- condition if avec v-if -->
        <div v-if="toggleBox" class="box red"></div>
        <!-- condition else avec v-else -->
        <p v-else="toggleBox" >Sinon</p>
        <!-- attention le v-if et v-else doivent être collé dans le dom sinon ça marche pas -->

        <p v-if="num === 1">La valeur est 1</p>
        <p v-else-if="num === 2">La valeur est 2</p>
        <p v-else-if="num === 3">La valeur est 3</p>
        <p v-else>La valeur n'est aucun des trois précédents</p>


    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- créer une instance en js qui sert à lier le code html et à renvoyer un template qu'on peut voir -->
    <script>
        // création de la 1ere instance (svt on en utilise qu'une par appli)
        new Vue({
            el: '#mon-app', // la propriété el lie l'instance

            data: {
                num: 4,
                toggleBox: true,
                
            },

            computed: {
          

            }



        })

    </script>
</body>

</html>